%h1
  = t('view.favorite_show')
%ul.list-group
  -# いいねしたユーザーの情報を表示
  - @post.favorited_users.each do |user|
    %li.list-group-item.border-bottom
      = link_to user.name, user_path(user)
      %span
        = t('view.favorites.favorited_at')
        = time_ago_in_words(user.favorited_at)
