%h1
  = t('view.user_index')
%ul.list-group
  - @users.each do |user|
    %li.list-group-item
      = link_to user.email, user_path(user)
      - unless user == current_user or current_user.present?
        = render 'users/relationships/follow_button', user: user , relationship: current_user.active_relationships.find_by(followed_id: user.id)
