%h1
  = t('view.user_index')
%ul.list-group
  - @users.each do |user|
    %li.list-group-item
      = link_to user.email, user_path(user)
      - unless user == current_user
        = render 'users/relationships/follow_button', user: user 
